In [ ]:
             BOOSTING-ADA BOOSTING(adaptive boosting)
    
*Boosting Algorithm for both Regression and classification.
*Boosting is a technique to implement Ensemble model.
#Ensemble
Multiple Individual model are combined to create to Master model.
#Adapdtive Boosting
*It has one root node with two leaves ie stump(weak learners)
*Every model learns from the previous model ie Adaptive.
*Weight of the records get updated.
*It iteratively corrects the mistake of the weak classifier and improves accuracy byb combining weak leaners.
*Boosting does things in series.

In [3]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
# Reading the Dataset
dataset = pd.read_csv('50_Startups.csv')

In [5]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [7]:
dataset.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [8]:
#input and output assign
x=dataset.drop(['Profit'],axis=1)
y=dataset['Profit']

In [9]:
#split into training set and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 10)

In [10]:
#scaling the input data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [11]:
#MODEL CREATION
#import AdaBoost from ensemble
from sklearn.ensemble import AdaBoostRegressor
AdaBoostReg=AdaBoostRegressor(n_estimators=100,learning_rate=1.0, loss='linear',base_estimator=None,random_state=None)

model=AdaBoostReg.fit(x_train,y_train)

In [12]:
#prediction
y_pred=AdaBoostReg.predict(x_test)

In [13]:
# Evaluating model
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
print('The r_score value of AdaBoostRegressor:',r_score*100)

The r_score value of AdaBoostRegressor: 89.66545008508841