In [ ]:
             BOOSTING-Gradient BOOSTING
    
*Boosting Algorithm for both Regression and classification.
*Boosting is a technique to implement Ensemble model.
#Ensemble
Multiple Individual model are combined to create to Master model.
#Gradient Boosting
*It has one root node with multiple leaves.
*optimizing the loss get updated
*Every model learns from the previous model ie Adaptive.
*It iteratively corrects the mistake of the weak classifier and improves accuracy byb combining weak leaners.
*Boosting does things in series.
*We use many classifier with AdaBoost

In [1]:
pip install  model_selection

Requirement already satisfied: model_selection in c:\users\yaazh\anaconda3\envs\ai\lib\site-packages (0.0.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('50_Startups.csv')

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [6]:
#input and output assign
x=dataset.drop(['Profit'],axis=1)
y=dataset['Profit']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 10)

In [8]:
#scaling the input data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [11]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
GBR = GradientBoostingRegressor()
parameters = {'learning_rate': [0.01,0.02,0.03,0.04],
              'subsample'    : [0.9, 0.5, 0.2, 0.1],
              'n_estimators' : [100,500,1000, 1500],
               'max_depth'   : [4,6,8,10]
              }
grid_GBR = GridSearchCV(estimator=GBR,param_grid=parameters,cv = 2, n_jobs=-1)
grid_GBR.fit(x_train, y_train)

GridSearchCV(cv=2, estimator=GradientBoostingRegressor(), n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.02, 0.03, 0.04],
                         'max_depth': [4, 6, 8, 10],
                         'n_estimators': [100, 500, 1000, 1500],
                         'subsample': [0.9, 0.5, 0.2, 0.1]})

In [14]:
#prediction
y_pred=grid_GBR.predict(x_test)
y_pred

array([ 94199.20746106, 110012.49746109,  79771.73394303,  81546.04229529,
        20152.18315564, 109759.80640548, 172591.68783843,  98202.7402517 ,
       153862.61736123, 147904.91205419,  93642.56286825, 180739.5799381 ,
        90073.28153913, 104838.2054148 , 142551.98787818, 125469.34275392,
        94983.42620986])

In [15]:
# Evaluating model
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
print('The r_score value of AdaBoostRegressor:',r_score*100)

The r_score value of AdaBoostRegressor: 93.72802818554109