In [ ]:
             BOOSTING-ADA BOOSTING(adaptive boosting)
    
*Boosting Algorithm for both Regression and classification.
*Boosting is a technique to implement Ensemble model.
#Ensemble
Multiple Individual model are combined to create to Master model.
#Adapdtive Boosting
*It has one root node with two leaves ie stump(weak learners)
*Every model learns from the previous model ie Adaptive.
*Weight of the records get updated.
*It iteratively corrects the mistake of the weak classifier and improves accuracy byb combining weak leaners.
*Boosting does things in series.
*We use many classifier with AdaBoost.

In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Reading the Dataset
dataset = pd.read_csv('Social_Network_Ads.csv')

In [4]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [8]:
#input and output assign
x=dataset.drop(['Purchased'],axis=1)
y=dataset['Purchased']

In [15]:
#split into training set and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 10)

In [16]:
#scaling the input data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(X_train)
x_test = sc.transform(X_test)

In [17]:
#MODEL CREATION
#import AdaBoost from ensemble
from sklearn.ensemble import AdaBoostClassifier
AdaBoost=AdaBoostClassifier(n_estimators=100,learning_rate=1)
                        
model=AdaBoost.fit(x_train,y_train)

In [18]:
#prediction
y_pred=model.predict(x_test)

In [21]:
# Evaluating model
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_pred,y_test)
print(cm)

[[84  7]
 [ 6 37]]

In [22]:
from sklearn.metrics import classification_report
clf=classification_report(y_pred,y_test)
print(clf)

              precision    recall  f1-score   support

           0       0.93      0.92      0.93        91
           1       0.84      0.86      0.85        43

    accuracy                           0.90       134
   macro avg       0.89      0.89      0.89       134
weighted avg       0.90      0.90      0.90       134

In [27]:
#import LogisticRegression
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()
#create AdaBoost classifier object
adaboost=AdaBoostClassifier(n_estimators=100,base_estimator=logmodel,learning_rate=1)
#here AdaBoost learning from Previous model logistic-estimator=logmodel
model=adaboost.fit(x_train,y_train)

y_pred=model.predict(x_test)

In [28]:
# Evaluating model
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_pred,y_test)
print(cm)

[[83 12]
 [ 7 32]]

In [29]:
from sklearn.metrics import classification_report
clf=classification_report(y_pred,y_test)
print(clf)

              precision    recall  f1-score   support

           0       0.92      0.87      0.90        95
           1       0.73      0.82      0.77        39

    accuracy                           0.86       134
   macro avg       0.82      0.85      0.83       134
weighted avg       0.87      0.86      0.86       134

In [ ]:
AdaBooster Accuracy is 90%
AdaBooster combined with LOgistic,Accuracy is 86%