In [ ]:
pip install catboost

In [ ]:
                                         CAT_BOOST_CLASSIFIER(Categorical Boosting)

#Catboost is a boosted decision tree machine learning algorithm.
#used to solve both classification and regression
#It is used for search, recommendation systems, personal assistants, 
  #self-driving cars, weather prediction, and many other tasks
# It automatically takes care of NULL values in the dataset
#The algorithm automatically does label encoding for categorical features
#The algorithm uses binary symmetric decision trees
#It is designed to work with categorical features and it works similarly to Gradient and XGboost algorithms with some 
  #advanced techniques.

In [1]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Male
0  15624510   19            19000          0            1
1  15810944   35            20000          0            1
2  15668575   26            43000          0            0
3  15603246   27            57000          0            0
4  15804002   19            76000          0            1

In [6]:
#input and output assign
x=dataset.drop(['Purchased'],axis=1)
y=dataset['Purchased']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 10)

In [8]:
#scaling the input data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [10]:
#creating model

from catboost import CatBoostClassifier
cbc = CatBoostClassifier(iterations=5,learning_rate=0.1) 
cbc=cbc.fit(x_train, y_train)

0:	learn: 0.6467602	total: 139ms	remaining: 557ms
1:	learn: 0.6124710	total: 141ms	remaining: 211ms
2:	learn: 0.5773638	total: 142ms	remaining: 94.5ms
3:	learn: 0.5506256	total: 143ms	remaining: 35.7ms
4:	learn: 0.5244658	total: 144ms	remaining: 0us

In [12]:
#prediction
y_pred=cbc.predict(x_test)
y_pred

array([0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0], dtype=int64)

In [13]:
# Evaluating model
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[82  8]
 [ 7 37]]

In [14]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

88.80597014925374