In [ ]:
                                      XGBOOST_CLASSIFIER(EXTREME BOOST)
                                      ADVANCEMENT OF GRADIENT BOOST
# XGBoost is highly efficient, flexible and portable.
# It implements machine learning algorithms under the Gradient Boosting framework.
# XGBoost provides a parallel tree boosting. 

# why xg boost is popular?
1.speed
2.performance

In [57]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\yaazh\anaconda3\envs\ai\lib\site-packages (1.6.2)
Requirement already satisfied: scipy in c:\users\yaazh\anaconda3\envs\ai\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in c:\users\yaazh\anaconda3\envs\ai\lib\site-packages (from xgboost) (1.21.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import xgboost

In [3]:
# Reading the Dataset
dataset = pd.read_csv('Social_Network_Ads.csv')

In [4]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Male
0  15624510   19            19000          0            1
1  15810944   35            20000          0            1
2  15668575   26            43000          0            0
3  15603246   27            57000          0            0
4  15804002   19            76000          0            1

In [7]:
#input and output assign
x=dataset.drop(['Purchased'],axis=1)
y=dataset['Purchased']

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 10)

In [9]:
#scaling the input data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [12]:
#printing hyper tuning parameter of XGboost
xgbc = XGBClassifier()
print(xgbc)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, gamma=None,
              gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=None,
              reg_alpha=None, reg_lambda=None, ...)

In [53]:
import xgboost as xgb
xgb_model=xgb.XGBClassifier(gamma=10,random_state=0,objective = 'binary:logistic')
xgb_model.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=10, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [54]:
#prediction
y_pred=xgb_model.predict(x_test)
y_pred

array([0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0])

In [55]:
# Evaluating model
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[81  9]
 [ 2 42]]

In [56]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

91.7910447761194